<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>`title`</title>
</head>
<body>
    <div class="header">s4m13337</div>
    <div class="nav">
        <ul>
            <li><a href=`homeLink`>Home</a></li>
            <li><a href=`aboutLink`>About</a></li>
            <li><a href=`blogLink`>Blog</a></li>
            <li><a href=`contactLink`>Contact</a></li>
        </ul>
    </div>
    <div class="content">
        `content`
    </div>
    <div class="footer">
        &copy; s4m13337 2023
    </div>
</body>
</html>